<footer>
  <div class="footer-content">
    <div class="copyright">
      <p style="text-align: left;">&copy; {{ site.time | date: "%Y" }} {{ site.title }}. All rights reserved.</p>
      <p style="text-align: left;"><a href="{{ '/privacypolicy/' | relative_url }}">Privacy Policy</a></p>
    </div>
    <div class="footer-instagram">
      <a href="https://www.instagram.com/londonbakeryg" target="_blank" rel="noopener noreferrer">
        <img src="/assets/images/instagramlogo.png" alt="Instagram" style="width: 30px; height: 30px; background-color: transparent;">
      </a>
    </div>
  </div>
</footer></footer></footer></footer>

<style>
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center; align-items: center; align-items: center; align-items: center;
  } 

  .copyright {
    flex-grow: 1; /* Allow copyright to take up remaining space */    margin-left: auto;    margin-left: auto;    margin-left: auto;
  }

  .footer-instagram {
    /* margin-left: auto;  Not needed, flexbox will push it to the right */
  }
</style>